[submodule "ImHome"]
	path = iamhome
	url = https://github.com/MessageOnTap/ImHome
[submodule "SmartCalendar"]
	path = smart-calendar
	url = https://github.com/MessageOnTap/SmartCalendar
[submodule "StarbucksPlugin"]
	path = starbucksplugin
	url = https://github.com/MessageOnTap/StarbucksPlugin
[submodule "GoogleDocsPlugin"]
	path = googledocsplugin
	url = https://github.com/MessageOnTap/GoogleDocsPlugin
