[submodule "ImHome"]
	path = ImHome
	url = https://github.com/MessageOnTap/ImHome
[submodule "SmartCalendar"]
	path = SmartCalendar
	url = https://github.com/MessageOnTap/SmartCalendar
[submodule "StarbucksPlugin"]
	path = StarbucksPlugin
	url = https://github.com/MessageOnTap/StarbucksPlugin
[submodule "GoogleDocsPlugin"]
	path = GoogleDocsPlugin
	url = https://github.com/MessageOnTap/GoogleDocsPlugin
